use flake
export GEMINI_API_KEY="AIzaSyDDdBuKr-RwTyx_8ejyvbmUxECX3c-jKXg"
export PUBLIC_NOSTR_PUBLIC_KEY="npub1r0hvae2ld84u9zgyqdsx7294ar4m4v3ayfnnpcftf0mk955ay93qejel3w"
export CF_API_TOKEN="r2UIxnwXrCFL-Ncmu6FTLOzVRbp8f5bSf23UdNkE"
export ACCOUNT_ID="7932c1af229e7293f1c2aa606f6a79a5"
export PROJECT_NAME="kawaii-nostr"
